.add-your-income {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.income-amount,
.income-amount1 {
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  position: relative;
  line-height: 22px;
  color: var(--dark-gray);
  text-align: left;
}
.income-amount {
  cursor: pointer;
  align-self: stretch;
}
.income-amount1 {
  border: 0;
  background-color: transparent;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input-field-base,
.inputfield {
  display: flex;
  justify-content: flex-start;
}
.inputfield {
  align-self: stretch;
  border-radius: var(--default-border-raius);
  background-color: var(--dominant);
  border: 1px solid var(--accent);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-sm);
}
.input-field-base {
  width: 340px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.form,
.formpart {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formpart {
  flex-direction: column;
  padding: 0 var(--padding-5xs);
  gap: var(--gap-5xs);
}
.form {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-base);
}
.update {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 20px;
  font-family: var(--font-poppins);
  color: var(--dominant);
  text-align: center;
}
.button16 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xs) var(--padding-base);
  background-color: var(--accent);
  border-radius: var(--br-xl);
  width: 110px;
  height: 62px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.button16:hover {
  background-color: var(--color-royalblue-100);
}
.addincomepage,
.incomeform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.incomeform {
  padding: var(--padding-xl) 0;
  gap: var(--gap-21xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.addincomepage {
  position: relative;
  background-color: var(--dominant);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  gap: var(--gap-81xl);
}
